<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Steps</title>
</head>

<body>
    <li>Descargar rubyinstaller de <b>http://railsinstaller.org/en</b></li>
    <li>crear proyecto. abrimos el gitbash y ponemos <b>rails new Astrus</b> </li>
    <li>corremos el servidor para verificar que sirva nuestra aplicacion: <b>rails s</b></li>
    <li>Creamos una nueva vista en nuestro proyecto <b>rails generate scaffold status nombre:string contenido:text</b></li>
    <li>Vemos que en app-->models-->status.rb se creo nuestro nuevo modelo.</li>
    <li>Cada vez que realizamos algun cambio debemos hacer una actualizacion de los datos, en la consola ponemos <b>rake db:migrate</b></li>
    <li>correr el servidor de nuevo ir a la ruta localhost:3000/statuses</li>
    <li>Crear un control de versiones de nuestro proyecto utilizando github. Iniciamos creando el repositorio con <b>git init</b></li>
    <li>Agregamos nuestro proyectp <b>git add .</b></li>
    <li><b>git commit -m "Mensaje"</b></li>
    <li>Vamos a github.com y creamos el nombre del repositorio. Seguimos los pasos <b>git remote add origin https://github.com/AcarMeel/Astrus.git</b>
        <br> <b>git push -u origin master</b></li>
    <li>echo # Astrus >> README.md git init git add README.md git commit -m "first commit" git remote add origin https://github.com/AcarMeel/Astrus.git git push -u origin master</li>
    <li>Los partials siempre inician con guion bajo</li>
    <li>borrar contenido de scaffold.css.scss</li>
    <li>ir a application.html.erb y cambiar la estructura</li>
    <li>modificar index.hmtl.erb en app-->views-->statuses. Borramos todo y creamos una nueva estructura.</li>
    <li>Le daremos estilo a los statuses, para eso modificaremos statuses.css.scss</li>
    <li>Modificamos el archivo statuses.js.coffee</li>
    <li>utilizar el comando <b>rake routes</b> nos damos cuenta q rutas usar en nuestro poryecto</li>
    <li>Guardamos todos los cambios realizados en github <b>git add .</b> y con <b>git status</b> podemos ver lo q ya hemos guardado y luego <b>git commit -m "algun msj"</b> y luego <b>git push origin master</b></li>
    <li>instalar una nueva gema para el registro o ingreso de nuevos usuarios <b>abrimos gemfile y escribimos gem 'devise' y en la consola ponemos bundle y luego de nuevo en la consola ponemos rails generate devise:install</b></li>
    <li>seguimos las instrucciones q nos indica la consola: en config-->environments-->development.rb copiamos al final <b>   config.action_mailer.default_url_options = { host: 'localhost', port: 3000 }</b></li>
    <li>en config-->routes.rb definimos una ruta raiz y en la carpeta public eliminar cualquier index.html q exista.</li>
    <li>INSTRUCCIONES DESPUES DE DEVISE-->Some setup you must do manually if you haven't yet:

  1. Ensure you have defined default url options in your environments files. He
e
     is an example of default_url_options appropriate for a development environ
ent
     in config/environments/development.rb:

       config.action_mailer.default_url_options = { host: 'localhost', port: 30
0 }

     In production, :host should be set to the actual host of your application.

  2. Ensure you have defined root_url to *something* in your config/routes.rb.
     For example:

       root to: "home#index"

  3. Ensure you have flash messages in app/views/layouts/application.html.erb.
     For example:

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

  4. If you are deploying on Heroku with Rails 3.2 only, you may want to set:

       config.assets.initialize_on_precompile = false

     On config/application.rb forcing your application to not access the DB
     or load models when precompiling your assets.

    Crear un modelo para validar, registrar usuarios
     rails generate devise user

     Esto me crea en el proyecto lo siguiente:
      invoke  active_record
 create    db/migrate/20150621024100_devise_create_users.rb
 create    app/models/user.rb
 invoke    test_unit
 create      test/unit/user_test.rb
 create      test/fixtures/users.yml
 insert    app/models/user.rb
  route  devise_for :users

  En db/migrate/20150621024100_devise_create_users.rb agregamos 3 campos más nombre,apellido,nombreperfil. Para
  integrarlo a nuestra BD debemos correr el comando rake db:migrate

  Corremos rake routes para saber q rutas en el proyecto tenemos disponibles para utilizar el modelo de user
          new_user_session GET    /users/sign_in(.:format)       devise/sessions#new
            user_session POST   /users/sign_in(.:format)       devise/sessions#create
    destroy_user_session DELETE /users/sign_out(.:format)      devise/sessions#destroy
           user_password POST   /users/password(.:format)      devise/passwords#create
       new_user_password GET    /users/password/new(.:format)  devise/passwords#new
      edit_user_password GET    /users/password/edit(.:format) devise/passwords#edit
                         PUT    /users/password(.:format)      devise/passwords#update
cancel_user_registration GET    /users/cancel(.:format)        devise/registrations#cancel
       user_registration POST   /users(.:format)               devise/registrations#create
   new_user_registration GET    /users/sign_up(.:format)       devise/registrations#new
  edit_user_registration GET    /users/edit(.:format)          devise/registrations#edit
                         PUT    /users(.:format)               devise/registrations#update
                         DELETE /users(.:format)               devise/registrations#destroy
                statuses GET    /statuses(.:format)            statuses#index
                         POST   /statuses(.:format)            statuses#create
              new_status GET    /statuses/new(.:format)        statuses#new
             edit_status GET    /statuses/:id/edit(.:format)   statuses#edit
                  status GET    /statuses/:id(.:format)        statuses#show
                         PUT    /statuses/:id(.:format)        statuses#update
                         DELETE /statuses/:id(.:format)        statuses#destroy
                    root        /                              statuses#index


  5. You can copy Devise views (for customization) to your app by running:

       rails g devise:views
Ahora en la carpeta views tenemos una llamada devise
en registration new.hmtl.erb modificamos la estructura
=============================================================================== </li>
<li>Nos vamos al modelo user.rb en app-->models y hacemos unos cambios</li>
<li>agregamos en gemfile una nueva gema protected_attributes y corremos en la consola el comando bundle</li>
<li>corremos el comando rails console</li>
<li>exit para salir de la consola</li>
<li>Agregar un ID a cada usuario, para esto modificamos la BD con el comando <b>rails generate migration add_user_id_to_statuses</b></li>
<li>en  db/migrate/20150621055655_add_user_id_to_statuses.rb podemos hacer los cambios</li>
<li>luego de la modificacion de ese archivo en la consola <b>rake db:migrate</b></li>
<li>como ahora tenemos un id debemos borrar los posts viejos q no lo tenian, para esto <b>rails console</b> y luego <b>Status.delete_all</b></li>
<li><b>git status</b> y <b>git add .</b> y <b>git commit -m "msj"</b> <b>git push</b></li>
<li>descargar la gema simple form <b>https://github.com/plataformatec/simple_form</b> Para esto ir al gemfile y escribir la gema,bundle install, rails generate simple_form:install --bootstrap</li>
<li>Inside your views, use the 'simple_form_for' with one of the Bootstrap form
classes, '.form-horizontal' or '.form-inline', as the following:

  = simple_form_for(@user, html: { class: 'form-horizontal' }) do |form|</li>
  <li>Hacer cambios en _form.html.erb y show.html.erb de la carpeta statuses, en la carpeta models status.rb y user.rb, en controllers modificamos ambos y corremos rails console para eliminar todos los usuarios y estados y empezar de cero --> User.delete_all,Status.delete_all, exit
</li>
  <li>en los controladores estan las alertas de si se creo,modifico o elimino un usuario</li>
  <li>Recordemos q rails console nos permite hacer modificaciones a la BD, como u=User.first</li>
  <li>Hacemos modificaciones creando nombre_completo en user.rb,show e index en statuses</li>
  <li>Guardamos lo q hemos hecho hasta ahora, git status para ver q cambios hemos hecho, git add . ,git commit -m "msj", git push origin master</li>
  <li>Carpeta test. Esta carpeta almacena todos los archivos de prueba. Simular controllers, modificar modelos, etc. Abrir test-->unit-->user_test.rb</li>
  <li>el proyecto lo probaremos desde la consola, no corriendo en el servidor como tal</li>
  <li>Iniciamos las pruebas: rake db:migrate, rake db:test:prepare, ruby -Itest test/unit/user_test.rb</li>
  <li>LO anterior genera un error debido a q busca la columna nombre, para arreglar esto vamos a la carpeta test/fixtures/users.yml y statuses.yml</li>
  <li>corremos de nuevo ruby -Itest test/unit/user_test.rb</li>
  <li>Al validar si el nombre es vacio nos da un error al probarlo, para esto corregimos el error en user.rb</li>
  <li>video 30--> uso de helpers... en app-->helpers-->application_helper.rb</li>
</body>
www.descargasdelaweb.com


VIDEO 31 Astrus 
red social ror
hubo un error sin resolver en la pagina principal, las demas rutas si
</html>


